
[contenteditable="true"]:empty:before{
    content: attr(placeholder);
}

.content-div{
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    min-height: 200px;
}

.comment-write-area{
    display: flex;
    margin-top: 80px;
    background-color: #ECEFF1;
    padding: 10px 50px;
    border-radius: 8px;
}

.comment-textarea{
    width: 100%;
    height: 100px;
    resize: none;
}

.comment-view-area{
    margin-top: 80px;
}

.comment-view{
    display: flex;
    min-height: 100px;
}